#main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.settings-container {
    min-width: 800px;
    padding: 10px;
    border-radius: 5px;
}

.messagealerts {
    background: rgba(255, 0, 0, 0.2);
    color: rgb(226, 226, 226);
    word-wrap: break-word;
}