{% extends '__layout__.html' %}
{% block title %}Change Password{% endblock %}
{% block head %}
<link href="/static/css/settings.css" rel="stylesheet"/> <!-- Its just easier to resuse this-->
{% endblock %}
{% block content %}
<div id="main">
    <div class="settings-container">
        <h1>Change Password</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div>
        {% for message in messages %}
            <div class="alert border border-danger p-2 text-center messagealerts">
                {{ message }}
            </div>
        {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        <form method="post">
            <div class="row">
                <div class="col{% if is2FAEnabled: %} pe-1{% endif %}">
                    <div class="form-floating">
                        <input type="password" class="form-control" id="current-password-input" name="current-password" placeholder="Current Password" required>
                        <label for="floatingPassword">Current Password</label>
                    </div>
                </div>
                {% if is2FAEnabled: %}
                <div class="col ps-1">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="2fa-code-input" name="2fa-code" placeholder="2FA Code" required>
                        <label for="floatingPassword">2FA Code</label>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="form-floating mt-2">
                <input type="password" class="form-control" id="new-password-input" name="new-password" placeholder="New Password" required>
                <label for="floatingPassword">New Password</label>
            </div>
            <p class="text-secondary m-0" style="font-size: 12px;">Make sure to choose a strong password and always use a unique password for every site.</p>
            <div class="form-floating mt-1">
                <input type="password" class="form-control" id="confirm-password-input" name="confirm-password" placeholder="Confirm Password" required>
                <label for="floatingPassword">Confirm Password</label>
            </div>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <button type="submit" class="btn btn-primary mt-2 w-100 text-center">Update Password</button>
        </form>
    </div>
</div>
{% endblock %}