{% extends '__layout__.html' %}
{% block title %}Manage Universe{% endblock %}
{% block head %}
<link href="/static/css/develop.css" rel="stylesheet"/>
<style>
    .page-tabs a {
        color: #dadada !important;
        font-size: medium;
        margin-top: 5px;
        margin-bottom: 8px;
        font-weight: 500;
        text-decoration: none;
        width: 100%;
        text-align: center;
        display: block;
        padding: 8px;
        background-color: #1f1f1f;
        box-shadow: 0 0 1px 0 rgba(0,0,0,.2), 0 1px 2px 0 rgba(0,0,0,.2);
    }
    .page-tabs a:hover {
        color: #fff !important;
    }
</style>
{% endblock %}
{% block content %}
<div id="main">
    <div class="container" style="max-width: 1000px;">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div>
            {% for category, message in messages %}
                {% if category == 'error': %}
                <div class="alert border p-2 text-center alert-danger border-danger">
                    {{ message }}
                </div>
                {% endif %}
                {% if category == 'success': %}
                <div class="alert border p-2 text-center alert-success border-success">
                    {{ message }}
                </div>
                {% endif %}
            {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
        <h1 class="m-0">{{RootPlaceAssetObj.name}}</h1>
        <p class="text-secondary m-0 mb-1 ms-1" style="font-size: 12px;">Universe ID: <span class="text-white">{{UniverseObj.id}}</span> Starting Place ID: <span class="text-white">{{RootPlaceAssetObj.id}}</span></p>
        <div class="linebreak"></div>
        <div class="row">
            <div class="col-md-3 border-end page-tabs">
                <a href="/develop/universes/{{UniverseObj.id}}/manage" class="w-100">Basic Settings</a>
                <a href="/develop/universes/{{UniverseObj.id}}/access" class="w-100">Access</a>
                <a href="/develop/universes/{{UniverseObj.id}}/places" class="w-100">Places</a>
                <a href="/develop/universes/{{UniverseObj.id}}/gamepasses" class="w-100">Gamepasses</a>
                <a href="/develop/universes/{{UniverseObj.id}}/developer-products" class="w-100">Developer Products</a>
                <a href="/develop/universes/{{UniverseObj.id}}/badges" class="w-100">Badges</a>
            </div>
            <div class="col-md-9">
                {% block subcontent %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
