{% extends '__layout__.html' %}
{% block title %}Admin{% endblock %}
{% block head %}
<link href="/static/css/admin.css" rel="stylesheet"/> <!-- Its just easier to resuse this-->
<style>
    .text-secondary {
        color: rgb(175, 175, 175) !important;
    }
</style>
{% endblock %}
{% block content %}
<div id="main">
    <div class="container">
        <h1>Are you sure?</h1>
        <p class="m-0 d-flex text-secondary">You are deleting {{gameserver.serverName}} ( {{gameserver.serverId}} )</p>
        <form method="post" class="mt-2">
            <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
            <input type="hidden" name="serverId" value="{{gameserver.serverId}}">
            <input type="submit" class="btn btn-danger" value="Delete">
            <a class="btn border-primary" href="/admin/gameservers/{{gameserver.serverId}}">Back</a>
        </form>
    </div>
</div>
{% endblock %}