{% extends '__layout__.html' %}
{% block title %}Not Found{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<div style="min-height: 100vh;width: 100%;" class="d-flex align-items-center justify-content-center">
    <div class="p-3" style="background-color: rgb(31,31,31);box-shadow: 0px 0px 10px 0px rgb(0,0,0,0.5);">
        <h1>404 Not Found</h1>
        <p>This page does not exist or has been removed, we apologise for any inconvenience caused.</p>
    </div>
</div>
{% endblock %}