{% extends '__layout__.html' %}
{% block title %}Drivers{% endblock %}
{% block head %}
<style>
    .text-secondary {
        color: rgb(199, 199, 199) !important;
    }
</style>
{% endblock %}
{% block content %}
<div class="container" style="margin-top:128px;min-height: 100vh;max-width: 1000px;">
    <div class="d-flex mb-2 align-items-center">
        <h1>Drivers</h1>
    </div>
    <p class="text-secondary">If you have issues with SYNTAX not starting because of graphics issues you should seriously consider buying a new computer or graphics card</p>
</div>
{% endblock %}