{% extends '__layout__.html' %}
{% block title %}Privacy Policy{% endblock %}
{% block head %}
<link href="/static/css/terms.css" rel="stylesheet"/>
{% endblock %}
{% block content %}
<div class="container" style="margin-top:128px;">
    <h1>Privacy Policy</h1>
    <p>Last amended: 22/10/2023</p>
    <div class="linebreak"></div>
    <p>This Privacy Policy ("Policy") describes how Syntax ("we," "us," or "our") collects, uses, and protects the personal information you provide when accessing or using the Syntax website (the "Website").</p>
    <h2>1. Information Collection and Use</h2>
    <p><b>1.1. </b>We may collect and store your IP address when you access or use the Website. This information is collected to prevent any misuse of our systems and ensure the security and integrity of the Website.</p>
    <p><b>1.2. </b>In order to prevent malicious activities and protect the Website, we may also collect and store hardware information about your machine, such as device type, operating system, and browser version.</p>

    <h2>2. Information Sharing and Disclosure</h2>
    <p><b>2.1. </b>We do not sell, trade, or otherwise transfer your personal information to third parties for marketing or advertising purposes.</p>
    <p><b>2.2. </b>We may share your personal information with trusted third-party service providers who assist us in operating the Website, conducting our business, or servicing you, as long as they agree to keep this information confidential.</p>
    <p><b>2.3. </b>We may disclose your personal information if required by law or if we believe that such action is necessary to comply with legal obligations, protect our rights and property, or ensure the safety of our users or the public.</p>

    <h2>3. Cookies and Tracking Technologies</h2>
    <p><b>3.1. </b>We use cookies and similar tracking technologies to enhance your experience on the Website. Cookies are small files stored on your device that allow us to recognize and remember your preferences.</p>
    <p><b>3.2. </b>We also use third-party services, such as Cloudflare, Google Analytics and Hcaptcha, which may use cookies and other tracking technologies. Please review their privacy policies for more information on how they handle your data.</p>

    <h2>4. Data Security</h2>
    <p><b>4.1. </b>We implement reasonable security measures to protect your personal information against unauthorized access, alteration, disclosure, or destruction.</p>
    <p><b>4.2. </b>However, please note that no method of transmission over the Internet or electronic storage is 100% secure. Therefore, while we strive to protect your personal information, we cannot guarantee its absolute security.</p>

    <h2>5. Children's Privacy</h2>
    <p><b>5.1. </b>The Website is not intended for use by individuals under the age of 13. We do not knowingly collect personal information from children. If we become aware that we have collected personal information from a child without parental consent, we will take steps to remove that information from our servers.</p>
    
    <h2>6. Links to Third-Party Websites</h2>
    <p><b>6.1. </b>The Website may contain links to third-party websites or services. We are not responsible for the privacy practices or the content of those third-party websites. We encourage you to review the privacy policies of those websites before providing any personal information.</p>

    <h2>7. Changes to the Privacy Policy</h2>
    <p><b>7.1. </b>We reserve the right to update or modify this Privacy Policy at any time. Any changes will be effective immediately upon posting the updated Policy on the Website. Your continued use of the Website after any such changes constitutes your acceptance of the modified Privacy Policy.</p>

    <h2>8. Contact Us</h2>
    <p><b>8.1. </b>If you have any questions or concerns about this Privacy Policy or our privacy practices, please contact us on our discord server.</p>

    <p>By accessing or using the Syntax Website, you acknowledge that you have read, understood, and agreed to the terms and conditions of this Privacy Policy.</p>    
</div>
{% endblock %}